@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
    background-image: url('station.jpg');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    border-radius: 1rem;
    color: #1e293b;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}
h1 {
    font-size: 2.5rem;
    color: #1e293b;
    margin-bottom: 2rem;
}
h2 {
    font-size: 1.5rem;
    color: #1e293b;
    margin: 0;
}
#count-el{
    font-size: 3rem;
    font-weight: bold;
    color: #0f172a; 
    margin-bottom: 1.5rem;
}
button {
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    width: 12rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#increment-btn {
    background: #4f46e5;
}

#reset-btn {
    background: #f87171;
}

#save-btn {
    background: #10b981;
}

#save-el {
    font-size: 1.2rem;
}